:root {
  --horizontal-wrapper: 900px;
  --primary-color: #1976d2;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}
